<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/popUp.css">
    <script defer src="/js/popUp.js"></script>


    <title>Add Exercise</title>
</head>

<body class="chooseDayBody">

    <% if (typeof user != 'undefined') { %>
        <%- include("./partials/userNav.ejs") %> 
      <% } else {%>
        <%- include("./partials/guestNav.ejs") %> 
      <% } %> 


    <div class="main-cards-container">

        <!-- {{workout.title}} -->
        <h1 class="plans-title"><%= day %></h1>
        <div class="cards-container">
            
            <div data-modal-target='#modal' class="dayCard">
                <p class="dayText">Add</p>
            </div>

            <% execrices.forEach( execrice => { %> 
            <div class="card">
                <!-- views/workout-discription/{{workout.id}}/{{workout.discription}} -->
                <a href="/body-parts/<%= execrice.muscle %>/<%= execrice.name%>" target="_self">
                    <!-- img/{{workout.name}}-workouts/{{workout.img}} -->
                    <img class="card-img" src="/img/<%= execrice.muscle %>-workouts/<%= execrice.img %>"
                        alt="<%= execrice.name %>">
                </a>
                <div class="card-title">
                    <!-- {{workout.name}} -->
                    <p>
                        <%= execrice.name %>
                    </p>
                </div>
            </div>
            <% }) %> 
        </div>
    </div>


    <!-- popup to add exercise-->
    <div class="modal" id="modal">
        <div class='modal-header'>
            <div class='title'>Add Exercises</div>
            <button data-close-button=" close-button" class='close-button'>&times;</button>
        </div>
        <div class="modal-body">

                <label for="Exercises">Choose Excercises</label>
                <select name="Exercises" id="Exercises" size="10" multiple>


                    <!-- loop through each muscle -->
                    <% allExecrices.forEach(muscleExercises => { %> 
                        <optgroup label=<%= muscleExercises[0].muscle %>>

                            <!-- loop through each exercise in a specific muscle -->
                            <% muscleExercises.forEach(exercise => { %> 
                                <option value=<%= exercise.exercise_id %>><%= exercise.name %></option>
                            <% }) %>        
                    <% }) %> 

                </select>


  
                    <button id="submit" class="/plans/<%=name%>/<%=plan_id%>/<%=day%>">Add Exercises</button>
                

                <!-- <input type="submit" value="Submit" onclick="getOption()" /> -->



        </div>
    </div>

    <div id="overlay"></div>


</body>

</html>