<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://kit.fontawesome.com/c4ecd2a57e.js" crossorigin="anonymous"></script>
    <script defer src="/js/getplan.js"></script>




    <title>Choose day</title>
</head>

<body class="chooseDayBody">


    <% if (typeof user != 'undefined') { %>
        <%- include("./partials/userNav.ejs") %> 
      <% } else {%>
        <%- include("./partials/guestNav.ejs") %> 
      <% } %> 

    <div class="main-cards-container">

        <!-- <div class="grid"> -->
        <div>
            <div class="planNameDiv">
                <p class="chooseDayPlanName">
                    <%= name %>
                </p>

                <!-- <i class="fa-solid fa-pencil" style="color: white; font-size: 36px;"></i> -->
            </div>


            <div class="cards-container">
                <a style="text-decoration:none" href="/plans/<%=name%>/<%= plan_id %>/sunday">
                    <div class="card2 sunday-card">
                        <!-- Day name -->
                        <p class="dayText">Sunday</p>
                    </div>
                </a>

                <a style="text-decoration:none" href="/plans/<%=name%>/<%= plan_id %>/monday">

                    <div class="card2">

                        <!-- Day name -->
                        <p class="dayText">Monday</p>

                    </div>
                </a>
                <a style="text-decoration:none" href="/plans/<%=name%>/<%= plan_id %>/tuesday">

                    <div class="card2">

                        <!-- Day name -->
                        <p class="dayText">Tuesday</p>


                    </div>
                </a>
                <a style="text-decoration:none" href="/plans/<%=name%>/<%= plan_id %>/wednesday">

                    <div class="card2">

                        <!-- Day name -->
                        <p class="dayText">Wednesday</p>


                    </div>
                </a>
                <a style="text-decoration:none" href="/plans/<%=name%>/<%= plan_id %>/thursday">

                    <div class="card2">

                        <!-- Day name -->
                        <p class="dayText">Thursday</p>


                    </div>
                </a>
                <a style="text-decoration:none" href="/plans/<%=name%>/<%= plan_id %>/friday">

                    <div class="card2">

                        <!-- Day name -->
                        <p class="dayText">Friday</p>


                    </div>
                </a>
                <a class="saturday-card" onclick="myFunction()" style="text-decoration:none"
                    href="/addExcercise/Saturday">
                    <div class="card2">

                        <!-- Day name -->
                        <p class="dayText">Saturday</p>


                    </div>
                </a>


            </div>
        </div>

    </div>



</body>

</html>