<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body class="profileBody">

    <% if (typeof user != 'undefined') { %>
        <%- include("./partials/userNav.ejs") %> 
      <% } else {%>
        <%- include("./partials/guestNav.ejs") %> 
      <% } %> 


    <div class="GeneralProfileContainer Container">
        <h1 class="profileInfo">General Info</h1>

        <div class="GeneralProfile">
            <div class="GeneralProfile">
                <label class="GeneralProfileText" for="name">Name</label>
                <input type="text" name="name" placeholder= <%= userInfo.username%>>
            </div>
    
            <div class="GeneralProfile">
                <label class="GeneralProfileText" for="weight">weight (kg)</label>
                <input type="number" name="weight" placeholder= <%= userInfo.weight%>>
            </div>
    
            <div class="GeneralProfile">
                <label class="GeneralProfileText" for="target weight">target weight (kg)</label>
                <input type="number" name="target weight" placeholder= <%= userInfo.target_weight%>>
            </div>
    
            <div class="GeneralProfile">
                <label class="GeneralProfileText" for="height" >height</label>
                <input type="number" name="height" placeholder=<%= userInfo.height%>>
            </div>

            <div class="GeneralProfile">
                <label class="GeneralProfileText" for="level">Fitness Level</label>
                <select name="level" class="level">
                    <option value=""><%= userInfo.level%></option>
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="advanced">Advanced</option>
                    <option value="old">Old people</option>
                </select>
            </div>
        </div>

        <div>
            <button class="updateButton">Update Info</button>
        </div>
    </div>


    <div class="NutritionContainer Container">
        <h1 class="profileInfo">Nutritions</h1>
        

        <div class="GeneralProfile nutrition">
            <div class="GeneralProfile">
                <label class="NutritionText" for="BMI">BMI</label>
                <input type="number" name="BMI" placeholder="" disabled>
            </div>
    
            <div class="GeneralProfile nutrition">
                <label class="NutritionText" for="Calories">Calories/Day</label>
                <input type="number" name="Calories" placeholder="" disabled>
            </div>
    
            <div class="GeneralProfile nutrition">
                <label class="NutritionText" for="Protien">Protien/Day</label>
                <input type="number" name="Protien" placeholder="" disabled>
            </div>
    
        </div>
    </div>
    
</body>
</html>