<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">
    <title>Profile</title>
</head>
<body class="profileBody">

    <% if (typeof user != 'undefined') { %>
        <%- include("./partials/userNav.ejs") %> 
      <% } else {%>
        <%- include("./partials/guestNav.ejs") %> 
      <% } %> 


    <div class="GeneralProfileContainer Container">
        <h1 class="profileInfo">General Info</h1>
        
        <div class="GeneralProfile">
            <div class="GeneralProfile">
                <label class="GeneralProfileText" for="name">Name</label>
                <input type="text" name="name" id="username" placeholder= <%= userInfo.username%>>
            </div>
    
            <div class="GeneralProfile">
                <label class="GeneralProfileText" for="weight">weight (kg)</label>
                <input type="number" name="weight" id="weight" placeholder= <%= userInfo.weight%>>
            </div>
    
            <div class="GeneralProfile">
                <label class="GeneralProfileText" for="target weight">target weight (kg)</label>
                <input type="number" name="target weight" id="target_weight" placeholder= <%= userInfo.target_weight%>>
            </div>
    
            <div class="GeneralProfile">
                <label class="GeneralProfileText" for="height" >height</label>
                <input type="number" name="height" id="height" placeholder=<%= userInfo.height%>>
            </div>

            <div class="GeneralProfile">
                <label class="GeneralProfileText" for="age" >age</label>
                <input type="number" name="age" id="age" placeholder=<%= age%> disabled>
            </div>

            <div class="GeneralProfile">
                <label class="GeneralProfileText" for="level">Fitness Level</label>
                <select name="level" class="level" id="level">
                    <option value=""><%= userInfo.level%></option>
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="advanced">Advanced</option>
                    <option value="old">Old people</option>
                </select>
            </div>
        </div>

        <div>
            <button class="updateButton" id=<%=user.id.user_id%>>Update Info</button>
        </div>
    </div>


    <div class="NutritionContainer Container">
        <h1 class="profileInfo">Nutritions</h1>
        

        <div class="GeneralProfile nutrition">
            <div class="GeneralProfile">
                <label class="NutritionText" for="BMI">BMI</label>
                <input type="number" name="BMI" id="bmi" placeholder=<%=nutritions.BMI%> disabled>
            </div>
    
            <div class="GeneralProfile nutrition">
                <label class="NutritionText" for="Calories">Calories/Day</label>
                <input type="number" name="Calories" id="calories" placeholder=<%=nutritions.calories%> disabled>
            </div>
    
            <div class="GeneralProfile nutrition">
                <label class="NutritionText" for="Protien">Protien/Day</label>
                <input type="number" name="Protien" id="protien" placeholder=<%=nutritions.protien%> disabled>
            </div>
    
        </div>
    </div>
    
    <script src="/js/profile.js"></script>
    
</body>
</html>